include README.md
include LICENSE
include VERSION
include package_api_policy.json
recursive-include audio/assets *
recursive-include story/assets *
recursive-include image/assets *
recursive-include video/assets *
recursive-include studio/_shared/assets *
recursive-include .github/workflows *.yml
