include README.md
include LICENSE
include VERSION
include package_api_policy.json
recursive-include prompts ChatGPT_prompt_v*.txt
recursive-include audio/assets *
recursive-include video/assets *
recursive-include .github/workflows *.yml
